<section>
    <ul>
    <strong>
    <li>
            <div>
            <span>Creator</span>
            <span>Title</span>
            <span>Description</span>
            <span>Created at</span>
            <span>Actions</span>
            </div>
        </li>
        </strong>
    <% @articles.each do |article| %>
        <li>
            <div>                
                <span><%= link_to article.user.username, user_path(article.user) if article.user %></span>
                <span><%= article.title %></span>
                <span><%= article.description %></span> 
                <span>Created <%= time_ago_in_words(article.created_at) %> ago</span> 
                <div>
                    <span><%= link_to 'Show', article_path(article) %></span>
                    <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                        <span><%= link_to 'Edit', edit_article_path(article) %></span>
                        <span><%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></span>
                    <% end %>
                </div>
            </div>
        </li>
    <% end %>
</section>
<% if logged_in? %>
    <section>
        <%= link_to 'New article', new_article_path %>
    </section>
<% end %>
</ul>