<h2>Article details</h2>

<p><strong>Creator: </strong><%= @article.user.nil? ? '-' : (link_to @article.user.username, @article.user)  %></p>
<% if @article.user %>
    <p><%= gravatar_for @article.user %></p>
<% end %>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<div>
    <%= link_to 'â†', articles_path %> 
    <% if current_user == @article.user %>
        <%= link_to 'Edit', edit_article_path(@article) %> 
        <%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% end %>
</div>