<h2>User details</h2>

<%= gravatar_for @user %>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>

<div>
    <%= link_to "Edit profile", edit_user_path(@user) %>
</div>

<h2>User articles</h2>

<%= render 'articles/article' %>

<div>
    <%= link_to 'â†', articles_path %> 
    <%= link_to 'Edit', edit_user_path(@user) %>    
</div>