<%= render 'shared/errors', obj: @category %>
<%= form_with(model: @category, local: true, data: { turbo: false }) do |f| %>
    <p>
        <%= f.label :name, "Category name" %>
        <br />
        <%= f.text_field :name, placeholder: 'Enter category name' %>
    </p>    

    <p>
        <%= f.submit %>
    </p>

<% end %>
